* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-3 {
    background-color: rgb(211, 211, 211);
    border: 16px solid gold;
    border-radius: 12px;
    padding: 12px;
    width: 350px;
    margin: 18px;
    display: flex;
    flex-direction: column;
}

.card-style-3 .pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.card-style-3 img {
    border: 5px solid goldenrod;
    width: 100%;
}

.card-style-3 .details {
    font-size: 12px;
    text-align: center;
    background: linear-gradient(to right, rgb(183, 155, 0), gold, rgb(183, 155, 0));
    font-weight: bold;
    margin-top: 4px;
}

.card-style-3 .attack {
    display: flex;
    flex: 1;
    margin: 8px 0px;
    padding: 8px 0px 16px;
    border-bottom: 2px solid black;
}

.card-style-3 .bold {
    font-weight: bold;
    font-size: 19px;
}

.card-style-3 .power {
    font-size: 20px;
    font-weight: bold;
}

.card-style-3 .data {
    font-size: 12px;
    font-weight: bold;
    border: 2px solid rgb(183, 155, 0);
}

#pokemon-card-1, #pokemon-card-2 {
    background: 
    linear-gradient(
        -25deg,
        lightgreen,
        darkgreen,
        lightgreen
    );
}

#pokemon-card-3 {
    background: 
    linear-gradient(
        -25deg,
        rgb(255, 169, 8),
        rgb(226, 68, 0),
        rgb(255, 169, 8)
    );
}

#pokemon-card-4 {
    background: 
    linear-gradient(
        -25deg,
        rgb(0, 242, 255),
        rgb(155, 227, 255),
        rgb(0, 242, 255)
    );
}