div {
    border: 10px ridge coral;
    /*
    below is shorthand margin using 1 value.
    1 value of margin is applied to all 4 sides
    */
    margin: 24px;
    padding: 24px 50px;
    background-color: lightcyan;
}
p {
    margin: 68px;
    padding: 48px 60px;
    background-color: cornflowerblue;
    border-radius: 50px 0px;
}
a {
    background-color: blanchedalmond;
    padding: 15px;
    display: inline-block;
}
/*
        2 value splits it across vertical and horizontal.
        The first value is applied to the top and bottom.
        The second value  is applied to the left and rigt.
    
        margin: 50px 150px;
    
        3 value splits it across top. left/right, and bottom.
        The first value is applied to the top. the second value is applied to 
        The left and right. the tired value is appplied to the bottom
    
        margin: 25px 280px 50px;
    
        4 value spilts them across all four side.
        The first value is the  the top.
        The second value is the right.
        The third value is the bottom.
        The fourth value is the left.
    
        margin: 10xp 50xp 30xp 5px;
*/
