@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #E23492, hsl(328, 80%, 30%));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 36px;
    font-weight: weight;
    font-style: normal;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

.logo img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

.cta-button img {
    width: 100px;
}

#hero {
    background-image: url(../images/mask.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    color: white;
    text-align: center;
    padding-top: 20vh;
}

#hero h1 {
    font-family: "Dancing Script", cursive;
    font-weight: weight;
    font-style: normal;
    font-size: 8vw;
    margin: 0px 5vw 5vh 0px;
}
#hero h4 {
    font-family: "Dancing Script", cursive;
    font-weight: weight;
    font-style: normal;
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}
#hero a {
    font-family: "Dancing Script", cursive;
    font-weight: weight;
    font-style: normal;
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #333;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    margin: 0px auto;
}

.bio {
    background-color: #ffe1ebd8;
    border-radius: 50px;
}

.bio h1 {
    font-size: 80px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    padding: 20px;
}

.bio p {
    font-size: 35px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 26px;
    margin: 20px;
}

.bio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    height: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-image: url(../images/mask\ pattern.jpeg);
    padding: 48px 0px;
}

.food, 
.food3,
.food4, 
.food5, 
.food6, 
.food7,
.food8,
.food9,
.food10 {
    width: 80%;
    max-width: 1200px;
    padding: 26px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.bio2,
.bio3,
.bio4,
.bio5,
.bio6,
.bio7,
.bio8,
.bio9,
.bio10 {
    background-color: #ffe1ebd8;
    border-radius: 50px;
}

.bio2 h1,
.bio3 h1,
.bio4 h1,
.bio5 h1,
.bio6 h1,
.bio7 h1,
.bio8 h1,
.bio9 h1,
.bio10 h1 {
    font-size: 80px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    flex-basis: 100%;
}

.bio2 h3,
.bio3 h3,
.bio4 h3,
.bio5 h3,
.bio6 h3,
.bio7 h3,
.bio8 h3,
.bio9 h3,
.bio10 h3 {
    font-size: 80px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 0px;
    flex-basis: 100%;
}

.bio2 p,
.bio3 p,
.bio4 p,
.bio5 p,
.bio6 p,
.bio7 p,
.bio8 p,
.bio9 p,
.bio10 p {
    font-size: 35px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    flex: 1;
}

.bio2 img,
.bio3 img,
.bio4 img,
.bio5 img,
.bio6 img,
.bio7 img,
.bio8 img,
.bio9 img,
.bio10 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 26px;
}

.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9,
.image10 {
    flex: 1 181px;
    height: 500px;
    border-radius: 26px;
}

.menu,
.menu3,
.menu4,
.menu5,
.menu6,
.menu7,
.menu8,
.menu9,
.menu10 {
    background-image: url(../images/mask\ pattern.jpeg);
    padding: 48px 0px;
}



#footer {
    background: linear-gradient(to bottom, #E23492, #d31d7e);
    color: rgb(239, 115, 115);
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: weight;
    font-style: normal;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

@media screen and (max-width: 480px) {
    #restaurant h1 {
        font-size: 36px;
    }

    #navbar, #hero {
        display: flex;
        flex-wrap: wrap;
    }
    
    #navbar a {
        flex:  200px;
    }

    .image {
        height: 800px;
    }

    .light-container p {
        font-size: 24px;
    }

    #restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #r h1, #r h3 {
        font-size: 32px;
    }

    #r p {
        font-size: 23px;
        margin-top: 0px;
    }

    #r img {
        height: 500px;
        margin-bottom: 0px;
    }
}