@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #E23492, hsl(328, 80%, 30%));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 36px;
    font-weight: weight;
    font-style: normal;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

.logo img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

.cta-button img {
    width: 100px;
}

#hero {
    background-image: url(../images/mask.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    color: white;
    text-align: center;
    padding-top: 20vh;
}

#hero h1 {
    font-family: "Dancing Script", cursive;
    font-weight: weight;
    font-style: normal;
    font-size: 8vw;
    margin: 0px 5vw 5vh 0px;
}
#hero h4 {
    font-family: "Dancing Script", cursive;
    font-weight: weight;
    font-style: normal;
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}
#hero a {
    font-family: "Dancing Script", cursive;
    font-weight: weight;
    font-style: normal;
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #333;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    margin: 0px auto;
}

.bio {
    background-color: #ffe1ebd8;
    border-radius: 50px;
}

.bio h1 {
    font-size: 80px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    padding: 20px;
}

.bio p {
    font-size: 35px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 26px;
    margin: 20px;
}

.bio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    height: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background:
    linear-gradient(
        to bottom, 
        rgb(255, 157, 255), 
        rgb(160, 28, 160), 
        rgb(131, 0, 59)
    );
    padding: 48px 0px;
}

.food {
    width: 80%;
    max-width: 1200px;
    padding: 26px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.bio2 {
    background-color: #fcaac6d8;
    border-radius: 60px;
    border: 26px ridge goldenrod;
}

.bio2 h1 {
    font-size: 80px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    flex-basis: 100%;
}

.bio2 h3 {
    font-size: 80px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 0px;
    flex-basis: 100%;
}

.bio2 p {
    font-size: 35px;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    flex: 1;
}

.bio2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 26px;
}

.image2 {
    flex: 1 181px;
    height: 500px;
    border-radius: 26px;
    border: 10px solid goldenrod;
}

.menu {
    padding: 48px 0px;
}

#r .food {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px); 
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s; 
}

#r:hover .food {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); 
}



#footer {
    background: linear-gradient(to bottom, #E23492, #d31d7e);
    color: rgb(239, 115, 115);
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: weight;
    font-style: normal;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar div {
    display: flex;
}

#footer-columns-navbar a {
    padding: 8px 0px;
}

@media screen and (max-width: 480px) {
    #restaurant h1 {
        font-size: 36px;
    }

    #navbar, #hero {
        display: flex;
        flex-wrap: wrap;
    }
    
    #navbar a {
        flex:  200px;
    }

    .image {
        height: 800px;
    }

    .light-container p {
        font-size: 24px;
    }

    #restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #r h1, #r h3 {
        font-size: 32px;
    }

    #r p {
        font-size: 23px;
        margin-top: 0px;
    }

    #r img {
        height: 500px;
        margin-bottom: 0px;
    }
}