* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-2 {
    background-color: white;
    border-radius: 24px;
    max-width: 350px;
    padding: 24px;
    margin: 16px;
}

.card-style-2 .animagram-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-style-2 .animagram-header .brand-name {
    font-size: 29px;
}

.card-style-2 .profile-pic-container {
    padding: 36px 36px 0px;
    text-align: center;
}

.card-style-2 img {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.card-style-2 h2 {
    text-align: center;
}

.card-style-2 p {
    text-align: center;
    padding: 0px 36px;
}

.card-style-2 .animagram-footer {
    padding-top: 36px;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
}